{% set menu = [
  {
    'title': 'Shop',
    'url': '/'
  }, {
    'title': 'Neuheiten',
    'url': '/about/'
  }, {
    'title': 'Drops',
    'url': '/collections/'
  }, {
    'title': 'Accessories',
    'url': '/contact/'
  }, {
    'title': 'Bestseller',
    'url': '/contact/'
  }
] %}