{% extends "template.njk" %}

{% block content %}
  {% include 'hero.njk' %}
  {% include 'features.njk' %}
  {% include 'about.njk' %}
  {% include 'cases.njk' %}
  {% include 'price.njk' %}
  {% include 'reviews.njk' %}
  {% include 'compare.njk' %}
  {% include 'faq.njk' %}
{% endblock %}