@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .root {
    @apply overflow-clip bg-gray-100 text-base text-gray-900;
  }

  .link-hover {
    position: relative;

    &:hover {
      &::before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
      }
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: currentcolor;
      transform: scale3d(0, 1, 1);
      transform-origin: 100% 50%;
      transition: transform 0.3s;
      content: '';
      pointer-events: none;
    }
  }

  .section {
    @apply py-14;
    @screen md {
      @apply py-24;
    }
  }

  .bg-gradient-dark {
    background: linear-gradient(180deg, #312d49 0%, #1e1d28 100%);
  }

  .bg-gradient-lt-blue {
    background: linear-gradient(90deg, #c9c4ff 0%, #befef3 100%);
  }

  .bg-gradient-orange-pink {
    background: linear-gradient(90deg, #ffd2c4 0%, #f6beff 100%);
  }

  .bg-gradient-yellow-pink {
    background: linear-gradient(90deg, #f6ffc4 0%, #ffcebe 100%);
  }

  .section-heading {
    @apply mx-auto mb-8 flex max-w-3xl flex-col items-start gap-4 md:mb-14 md:items-center md:gap-6;
    &__title {
      @apply text-3xl font-semibold text-gray-900 md:text-center md:text-4xl;
    }

    &__desc {
      @apply text-lg text-gray-700 md:text-center md:text-xl;
    }
  }

  .btn {
    &--primary {
      @apply rounded-xl bg-accent-600 px-6 py-3 font-semibold text-gray-0 transition-colors;
      &:hover {
        @apply bg-accent-500;
      }
    }

    &--secondary {
      @apply rounded-xl bg-accent-800 font-semibold text-accent-500 transition-colors;
      &:hover {
        @apply bg-accent-500 text-gray-0;
      }
    }

    &--disabled {
      @apply rounded-xl bg-accent-200 px-6 py-3 font-semibold  text-accent-600 transition-colors;
    }
  }

  .list-disc {
    &:before {
      content: '';
      @apply mt-2 block h-2 w-2 rounded-full bg-accent-600;
    }
  }

  .bg-dots {
    @apply relative z-10;
    &:before {
      content: '';
      background-image: url('../assets/images/bg.svg');
      @apply absolute inset-0 -z-10 block h-full w-full bg-cover;
    }
  }

  .table-compare {
    tr {
      td,
      th {
        @apply text-center font-normal text-gray-200;
        &:first-child {
          @apply text-left text-gray-0;
        }
        &:nth-child(2) {
          @apply font-medium text-gray-0;
        }
        &:not(:first-child) {
          p {
            @apply mx-auto max-w-[160px];
          }
        }
      }
    }
  }
}

.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

details > summary {
  list-style: none;
}
