{% import 'vars.njk' as vars %}

<header class="absolute inset-x-0 z-40 text-gray-200 " x-data="{menu : false}">
  <div class="flex items-center gap-12 p-4 md:px-10 md:py-8">
    <a href="/" class="block">
      <img src="{% static './images/logo.svg' %}" alt="" />
    </a>
    <nav class="block">
      <ul class="hidden items-center gap-6 lg:flex">
        <li class="link-hover">
          <a href=""> Vorteile </a>
        </li>
        <li class="link-hover">
          <a href="">Über uns </a>
        </li>
        <li class="link-hover">
          <a href=""> Referenzen </a>
        </li>
        <li class="link-hover">
          <a href=""> Preis </a>
        </li>
        <li class="link-hover">
          <a href=""> Vergleich </a>
        </li>
        <li class="link-hover">
          <a href=""> FAQ </a>
        </li>
        <li class="link-hover">
          <a href=""> Kontakt </a>
        </li>
      </ul>
    </nav>
    <div class="ml-auto hidden items-center gap-6 lg:flex">
      <a href="" class="font-semibold text-gray-0 transition-colors hover:text-accent-200"> +49 999 588-35-64 </a>
      <button class="btn btn--primary">Angebot anfragen</button>
    </div>
    <div class="flex gap-1 md:hidden">
      <button class="btn btn--primary p-2">
        <svg width="24" height="24">
          <use xlink:href="./assets/sprite.svg#calc_sprite"></use>
        </svg>
      </button>
      <div class="relative">
        <button class="btn p-2" x-on:click="menu = !menu" x-on:click.outside="menu = false">
          <svg width="24" height="24">
            <use xlink:href="./assets/sprite.svg#menu_sprite"></use>
          </svg>
        </button>
        <div class="absolute right-0 py-3 px-4 bg-gray-0 rounded-xl w-40 mt-2" x-show="menu" x-transition>
          <nav>
            <ul class="flex flex-col gap-3">
              <li class="text-gray-700">
                <a href="">
                  Vorteile
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  Über uns
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  Referenzen
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  Preis
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  Vergleich
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  FAQ
                </a>
              </li>
              <li class="text-gray-700">
                <a href="">
                  Kontakt
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
