{% import 'vars.njk' as vars %}

<header class="absolute inset-x-0 text-gray-200 z-10">
  <div class="flex items-center gap-12 px-10 py-8">
    <a href="/" class="block">
      <img src="{% static './images/logo.svg' %}" alt="" />
    </a>
    <nav class="block">
      <ul class="hidden items-center gap-6 lg:flex">
        <li class="link-hover">
          <a href=""> Vorteile </a>
        </li>
        <li class="link-hover">
          <a href="">Über uns </a>
        </li>
        <li class="link-hover">
          <a href=""> Referenzen </a>
        </li>
        <li class="link-hover">
          <a href=""> Preis </a>
        </li>
        <li class="link-hover">
          <a href=""> Vergleich </a>
        </li>
        <li class="link-hover">
          <a href=""> FAQ </a>
        </li>
        <li class="link-hover">
          <a href=""> Kontakt </a>
        </li>
      </ul>
    </nav>
    <div class="ml-auto hidden items-center gap-6 lg:flex">
      <a href="" class="font-semibold text-gray-0 transition-colors hover:text-accent-200"> +49 999 588-35-64 </a>
      <button class="btn btn--primary">Angebot anfragen</button>
    </div>
  </div>
</header>
