<section class="section bg-gray-0">
  <div class="container flex flex-col gap-8 md:gap-14 items-center md:flex-row">
    <div class="flex flex-col">
      <div class="flex flex-col gap-6">
        <h2 class="text-3xl font-semibold md:text-4xl">Einzelwerk – Design Agency based in Hamburg</h2>
        <p class="text-lg text-gray-700 md:text-xl">We make sites that really work and solve primarily business problems</p>
        <div class="grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-4">
          <div class="flex gap-3 rounded-2xl border border-gray-200 bg-gray-100 p-4 md:flex-col md:gap-4 md:p-5">
            <picture class="block h-10 w-10 flex-none">
              <img src="{% static './images/about/1.svg' %}" class="h-full w-full object-contain" alt="" />
            </picture>
            <h3 class="font-semibold">Specialized website development for online success</h3>
          </div>
          <div class="flex gap-3 rounded-2xl border border-gray-200 bg-gray-100 p-4 md:flex-col md:gap-4 md:p-5">
            <picture class="block h-10 w-10 flex-none">
              <img src="{% static './images/about/2.svg' %}" class="h-full w-full object-contain" alt="" />
            </picture>
            <h3 class="font-semibold">Expert marketing team for maximum reach</h3>
          </div>
          <div class="flex gap-3 rounded-2xl border border-gray-200 bg-gray-100 p-4 md:flex-col md:gap-4 md:p-5">
            <picture class="block h-10 w-10 flex-none">
              <img src="{% static './images/about/3.svg' %}" class="h-full w-full object-contain" alt="" />
            </picture>
            <h3 class="font-semibold">10+ years of industry experience for your benefit</h3>
          </div>
          <div class="flex gap-3 rounded-2xl border border-gray-200 bg-gray-100 p-4 md:flex-col md:gap-4 md:p-5">
            <picture class="block h-10 w-10 flex-none">
              <img src="{% static './images/about/4.svg' %}" class="h-full w-full object-contain" alt="" />
            </picture>
            <h3 class="font-semibold">Quick start solution for launching your business</h3>
          </div>
        </div>
      </div>
    </div>
    <picture class="block rounded-2xl overflow-hidden">
      <img src="{% static './images/about.jpg' %}" alt="" />
    </picture>
  </div>
</section>
