<section class="section bg-gradient-dark">
  <div class="section-heading container gap-4">
    <p class="bg-gradient-yellow-pink flex items-center gap-2 rounded-lg px-4 py-2 font-semibold text-gray-900">Wählen Sie weise</p>
    <h2 class="section-heading__title text-2xl text-gray-0 md:text-3xl">Vergleichen wir die beliebtesten Lösungen auf dem Markt</h2>
  </div>
  <div class="pl-4 md:pl-0 md:container">
    <div class="overflow-auto">
      <table class="table-compare w-full text-gray-0">
        <thead>
          <tr>
            <th class="border border-gray-700 px-5 py-7 text-left font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 text-xl font-semibold last:mb-0">Vergleichen Sie Lösungen</p>
              <p class="text-gray-200">Finden Sie die Richtige für Sie</p>
            </th>

            <th class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 text-xl font-semibold last:mb-0">Unsere Lösung</p>
              <button class="btn btn--primary px-4 py-2 text-sm">Angebot anfragen</button>
            </th>
            <th class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 text-xl font-semibold last:mb-0">WIX/Ionos/ Jimdo</p>
            </th>
            <th class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 text-xl font-semibold last:mb-0">Individuelle</p>
              <button class="btn btn--secondary px-4 py-2 text-sm">Jetzt anfragen</button>
            </th>

            <th class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 text-xl font-semibold last:mb-0">WordPress Template</p>
            </th>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Erweiterbarkeit</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#success_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#error_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#success_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#error_sprite"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Designoptionen</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#success_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#error_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#success_sprite"></use>
              </svg>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <svg width="24" height="24" class="mx-auto">
                <use xlink:href="./assets/sprite.svg#error_sprite"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">SEO Performance</p>
              <p class="text-gray-200">Auf Basis von durchschnittlichen Statistiken</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">SEO & Performance optimiert</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p>Schlechte SEO, Schwierigkeiten bei der Optimierung</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">SEO & Performance optimiert</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Schwierigkeiten bei der Steigerung der SEO-Performance</p>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">UX & Usability</p>
              <p class="text-gray-200">Auf Basis von durchschnittlichen Statistiken</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Sophistizierte und benutzerfreundliche Bedienbarkeit</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p>Usability-Probleme auf globaler Ebene</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Benutzerfreundliche und durchdachte Usability</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Ein Glücksspiel, je nach Vorlage (Template)</p>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Preis</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">€€</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p>€</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">€€€€</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">€€€</p>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Sicherheit</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Sicherheit ohne Nachhaltigkeitsprobleme</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p>Sicherheit ohne Skalierungsoptionen</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">In der Regel sichere Nachhaltigkeit</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Sicherheitslücken, unnötige Plugins, Systemausfälle</p>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Entwicklungsgeschwindigkeit</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex justify-center gap-1">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
              </div>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex justify-center gap-1">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
              </div>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex justify-center gap-1">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
              </div>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex justify-center gap-1">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#clock_sprite"></use>
                </svg>
              </div>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="mb-2 font-semibold last:mb-0">Bewertungsprozess</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Minimale Kundenbeteiligung</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p>Minimale Kundenbeteiligung</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Viele Aussagen und Zeitverschwendung</p>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <p class="text-center text-gray-200">Minimale Kundenbeteiligung</p>
            </td>
          </tr>
          <tr>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800"></td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex flex-col items-center gap-2">
                <button class="btn btn--primary px-4 py-2 text-sm">Angebot anfragen</button>
                <div class="flex flex-col gap-[2px] text-xs font-normal">
                  <span>starting from €649 </span>
                  <span class="text-gray-500">zzgl. 19% MwSt</span>
                </div>
              </div>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800"></td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800">
              <div class="flex flex-col items-center gap-2">
                <button class="btn btn--secondary px-4 py-2 text-sm">Jetzt anfragen</button>
                <div class="flex flex-col gap-[2px] text-xs font-normal">
                  <span>starting from €1990 </span>
                  <span class="text-gray-500">zzgl. 19% MwSt</span>
                </div>
              </div>
            </td>
            <td class="border border-gray-700 px-5 py-7 font-normal first:w-96 [&:nth-child(2)]:bg-accent-800"></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>
