<section class="section container">
  <div class="section-heading">
    <h2 class="section-heading__title">Deine Vorteile</h2>
    <p class="section-heading__desc">Wir helfen Ihnen, Ihre Online-Präsenz zu verbessern</p>
  </div>
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-6 lg:grid-cols-4 lg:gap-12">
    <div class="flex flex-col items-start gap-6 max-md:bg-gray-0 max-md:px-4 max-md:py-5 max-md:rounded-2xl max-md:border max-md:border-gray-200 md:items-center">
      <picture class="block h-12 w-12 md:h-16 md:w-16">
        <img src="{% static './images/features/1.svg' %}" class="h-full w-full object-contain" alt="" />
      </picture>
      <div class="flex flex-col gap-3">
        <h4 class="text-xl font-semibold md:text-center">Website-Launch in 6 Arbeitstagen</h4>
        <p class="md:text-center">Starten Sie Ihre Website in Rekordzeit mit unserer schnell zu erstellenden Lösung</p>
      </div>
    </div>
    <div class="flex flex-col items-start gap-6 max-md:bg-gray-0 max-md:px-4 max-md:py-5 max-md:rounded-2xl max-md:border max-md:border-gray-200 md:items-center">
      <picture class="block h-12 w-12 md:h-16 md:w-16">
        <img src="{% static './images/features/2.svg' %}" class="h-full w-full object-contain" alt="" />
      </picture>
      <div class="flex flex-col gap-3">
        <h4 class="text-xl font-semibold md:text-center">Webseitenlösungen für alle Branchen</h4>
        <p class="md:text-center">Entdecken Sie die Kunst des Website-Designs mit unseren vorgefertigten Meisterwerken</p>
      </div>
    </div>
    <div class="flex flex-col items-start gap-6 max-md:bg-gray-0 max-md:px-4 max-md:py-5 max-md:rounded-2xl max-md:border max-md:border-gray-200 md:items-center">
      <picture class="block h-12 w-12 md:h-16 md:w-16">
        <img src="{% static './images/features/3.svg' %}" class="h-full w-full object-contain" alt="" />
      </picture>
      <div class="flex flex-col gap-3">
        <h4 class="text-xl font-semibold md:text-center">Beliebige Erweiterungen möglich</h4>
        <p class="md:text-center">Passen Sie Ihre Website mühelos an mit unseren vorgefertigten UI-Komponenten</p>
      </div>
    </div>
    <div class="flex flex-col items-start gap-6 max-md:bg-gray-0 max-md:px-4 max-md:py-5 max-md:rounded-2xl max-md:border max-md:border-gray-200 md:items-center">
      <picture class="block h-12 w-12 md:h-16 md:w-16">
        <img src="{% static './images/features/4.svg' %}" class="h-full w-full object-contain" alt="" />
      </picture>
      <div class="flex flex-col gap-3">
        <h4 class="text-xl font-semibold md:text-center">Unschlagbarer Preis für hochwertige Website</h4>
        <p class="md:text-center">Erstellen Sie mühelos eine atemberaubende Website, ohne die Qualität zu beeinträchtigen</p>
      </div>
    </div>
  </div>
</section>
