<section class="bg-gradient-dark bg-dots section min-h-screen pt-header">
  <div class="container">
    <div class="mt-8 flex flex-col gap-5 md:mt-12 md:gap-20">
      <div class="flex max-w-6xl flex-col items-start gap-4 text-gray-0 md:mx-auto md:items-center md:gap-6">
        <div class="flex gap-2 rounded-xl bg-[#ffffff0e] px-4 py-2 text-base md:text-lg">
          <span class="text-gray-200"> schon ab </span>
          <span class="font-semibold text-gray-0">€649 zzgl. MwSt.</span>
          <span>&#x1F609;</span>
        </div>
        <h1 class="text-4xl font-semibold md:text-center md:text-6xl">Deine neue Webseite in 3-2- 1...</h1>
        <p class="max-w-2xl text-lg text-gray-200 md:text-center md:text-xl">
          Schnell und unkompliziert zu Deiner Webseite gelangen, die schnell, modern, DSGVO-konform, SEO-optimiert ist, und Dein Business in jeder
          Hinsicht vorantreibt.
        </p>
        <div class="mt-3 flex flex-col items-start gap-3 md:items-center">
          <h2 class="flex items-center gap-2">
            <svg width="20" height="20">
              <use xlink:href="./assets/sprite.svg#bot_sprite"></use>
            </svg>
            K.I.-LLER Features inklusive:
          </h2>

          <div class="swiper js-hero-features-slider max-w-xl">
            <ul class="swiper-wrapper">
              <li
                class="swiper-slide bg-gradient-lt-blue group relative flex flex-1 items-center gap-2 whitespace-nowrap rounded-lg px-4 py-2 font-semibold text-gray-900"
              >
                <span
                  class="pointer-events-none absolute bottom-full left-1/2 mb-3 w-96 -translate-x-1/2 whitespace-normal rounded-2xl bg-gray-0 px-4 py-3 text-center text-sm font-normal text-gray-700 opacity-0 transition-opacity group-hover:opacity-100"
                >
                  Collect third-party API credentials from your users and encrypt them before they touch your infrastructure, using Inbound Relay or
                  any of our client-side SDKs.
                  <svg width="24" height="12" class="absolute bottom-1 left-1/2 -translate-x-1/2 translate-y-full">
                    <use xlink:href="./assets/sprite.svg#cor_sprite"></use>
                  </svg>
                </span>
                <svg width="20" height="20">
                  <use xlink:href="./assets/sprite.svg#lighting_sprite"></use>
                </svg>
                Content Generator
              </li>
              <li
                class="swiper-slide bg-gradient-orange-pink group relative flex flex-1 items-center gap-2 whitespace-nowrap rounded-lg px-4 py-2 font-semibold text-gray-900"
              >
                <span
                  class="pointer-events-none absolute bottom-full left-1/2 mb-3 w-96 -translate-x-1/2 whitespace-normal rounded-2xl bg-gray-0 px-4 py-3 text-center text-sm font-normal text-gray-700 opacity-0 transition-opacity group-hover:opacity-100"
                >
                  Collect third-party API credentials from your users and encrypt them before they touch your infrastructure, using Inbound Relay or
                  any of our client-side SDKs.
                  <svg width="24" height="12" class="absolute bottom-1 left-1/2 -translate-x-1/2 translate-y-full">
                    <use xlink:href="./assets/sprite.svg#cor_sprite"></use>
                  </svg>
                </span>
                <svg width="20" height="20">
                  <use xlink:href="./assets/sprite.svg#translate_sprite"></use>
                </svg>
                Multilanguage
              </li>
              <li
                class="swiper-slide bg-gradient-yellow-pink group relative flex flex-1 items-center gap-2 whitespace-nowrap rounded-lg px-4 py-2 font-semibold text-gray-900"
              >
                <span
                  class="pointer-events-none absolute bottom-full left-1/2 mb-3 w-96 -translate-x-1/2 whitespace-normal rounded-2xl bg-gray-0 px-4 py-3 text-center text-sm font-normal text-gray-700 opacity-0 transition-opacity group-hover:opacity-100"
                >
                  Collect third-party API credentials from your users and encrypt them before they touch your infrastructure, using Inbound Relay or
                  any of our client-side SDKs.
                  <svg width="24" height="12" class="absolute bottom-1 left-1/2 -translate-x-1/2 translate-y-full">
                    <use xlink:href="./assets/sprite.svg#cor_sprite"></use>
                  </svg>
                </span>
                <svg width="20" height="20">
                  <use xlink:href="./assets/sprite.svg#like_sprite"></use>
                </svg>
                Testimonials
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper js-hero-slider w-full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="aspect-h-9 aspect-w-16 block overflow-hidden rounded-2xl">
              <img src="{% static './images/hero.jpg' %}" class="h-full w-full object-cover object-top" alt="" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="aspect-h-9 aspect-w-16 block overflow-hidden rounded-2xl">
              <img src="{% static './images/hero2.jpg' %}" class="h-full w-full object-cover object-top" alt="" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="aspect-h-9 aspect-w-16 block overflow-hidden rounded-2xl">
              <img src="{% static './images/hero.jpg' %}" class="h-full w-full object-cover object-top" alt="" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="aspect-h-9 aspect-w-16 block overflow-hidden rounded-2xl">
              <img src="{% static './images/hero2.jpg' %}" class="h-full w-full object-cover object-top" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
