<section class="section bg-gradient-dark">
  <div class="container">
    <div class="section-heading">
      <h2 class="section-heading__title text-gray-0">Wie viel wird unsere Arbeit kosten?Die edelsten Preise.</h2>
      <p class="section-heading__desc text-gray-200">
        Wenn Zeit für Sie Geld bedeutet und Sie Geld sparen möchten, sind unsere Optionen perfekt für Sie und Sie werden keine bessere finden.
      </p>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-4 md:mb-20 lg:grid-cols-3 lg:gap-7">
      <div class="flex flex-col gap-4 rounded-2xl bg-gray-0 p-4 md:gap-6 md:p-6">
        <div class="flex flex-col gap-4 md:gap-6">
          <div class="flex flex-col gap-3 md:gap-4">
            <h3 class="text-lg font-semibold md:text-xl">Onepager</h3>
            <div class="flex flex-wrap items-center gap-3 md:flex-col md:items-start md:gap-1">
              <data class="text-3xl font-semibold md:text-4xl">€649</data>
              <span class="text-gray-700">zzgl. 19% MwSt</span>
            </div>
          </div>
          <button class="btn btn--primary py-4">Anfrage stellen</button>
        </div>
        <div class="flex flex-col items-start gap-3 md:gap-4" x-data="{state : false}">
          <button class="flex items-center gap-2 font-semibold" x-on:click="state = !state">
            Was ist enthalten
            <svg width="16" height="16" class="transition-transform md:hidden" x-bind:class="state ? 'rotate-180' : ''">
              <use xlink:href="./assets/sprite.svg#arrow-d_sprite"></use>
            </svg>
          </button>
          <ul class="hidden flex-col gap-2 md:flex" x-bind:class="state ? 'max-md:flex' : 'max-md:hidden'">
            <li class="flex list-disc gap-2">Up to 10 sections</li>
            <li class="flex list-disc gap-2">Mobile responsive design</li>
            <li class="flex list-disc gap-2">Multilanguage based on KI</li>
            <li class="flex list-disc gap-2">Content Generator based on KI</li>
            <li class="flex list-disc gap-2">Fast loading speed</li>
            <li class="flex list-disc gap-2">Full Site Security</li>
            <li class="flex list-disc gap-2">Basic SEO optimization</li>
            <li class="flex list-disc gap-2">One round of revisions</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-4 rounded-2xl bg-gray-0 p-4 md:gap-6 md:p-6">
        <div class="flex flex-col gap-4 md:gap-6">
          <div class="flex flex-col gap-3 md:gap-4">
            <h3 class="text-lg font-semibold md:text-xl">Multipager</h3>
            <div class="flex flex-wrap items-center gap-3 md:flex-col md:items-start md:gap-1">
              <data class="text-3xl font-semibold md:text-4xl">€1290 </data>
              <span class="text-gray-700">zzgl. 19% MwSt</span>
            </div>
          </div>
          <button class="btn btn--primary py-4">Anfrage stellen</button>
        </div>
        <div class="flex flex-col items-start gap-3 md:gap-4" x-data="{state : false}">
          <button class="flex items-center gap-2 font-semibold" x-on:click="state = !state">
            Was ist enthalten
            <svg width="16" height="16" class="transition-transform md:hidden" x-bind:class="state ? 'rotate-180' : ''">
              <use xlink:href="./assets/sprite.svg#arrow-d_sprite"></use>
            </svg>
          </button>
          <ul class="hidden flex-col gap-2 md:flex" x-bind:class="state ? 'max-md:flex' : 'max-md:hidden'">
            <li class="flex list-disc gap-2">Up to 8 pages</li>
            <li class="flex list-disc gap-2">Mobile responsive design</li>
            <li class="flex list-disc gap-2">Multilanguage based on KI</li>
            <li class="flex list-disc gap-2">Content Generator based on KI</li>
            <li class="flex list-disc gap-2">Overall Reviews Rating based on KI</li>
            <li class="flex list-disc gap-2">Fast loading speed</li>
            <li class="flex list-disc gap-2">Full Site Security</li>
            <li class="flex list-disc gap-2">SEO optimization</li>
            <li class="flex list-disc gap-2">Two rounds of revisions</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-4 rounded-2xl bg-gray-0 p-4 md:gap-6 md:p-6">
        <div class="flex flex-col gap-4 md:gap-6">
          <div class="flex flex-col gap-3 md:gap-4">
            <h3 class="text-lg font-semibold md:text-xl">E-commerce</h3>
            <div class="flex flex-wrap items-center gap-3 md:flex-col md:items-start md:gap-1">
              <span class="text-3xl font-semibold md:text-4xl">Coming soon</span>
              <span class="text-gray-700">Starting from €6490 (zzgl. 19% MwSt)</span>
            </div>
          </div>
          <button class="btn btn--disabled py-4" disabled>Individuell berechnen</button>
        </div>
        <div class="flex flex-col items-start gap-3 md:gap-4" x-data="{state : false}">
          <button class="flex items-center gap-2 font-semibold" x-on:click="state = !state">
            Was ist enthalten
            <svg width="16" height="16" class="transition-transform md:hidden" x-bind:class="state ? 'rotate-180' : ''">
              <use xlink:href="./assets/sprite.svg#arrow-d_sprite"></use>
            </svg>
          </button>
          <ul class="hidden flex-col gap-2 md:flex" x-bind:class="state ? 'max-md:flex' : 'max-md:hidden'">
            <li class="flex list-disc gap-2">Custom design and layout</li>
            <li class="flex list-disc gap-2">Mobile responsive design</li>
            <li class="flex list-disc gap-2">Fast loading speed</li>
            <li class="flex list-disc gap-2">Product catalog</li>
            <li class="flex list-disc gap-2">Shopping cart and checkout integration</li>
            <li class="flex list-disc gap-2">Payment gateway integration</li>
            <li class="flex list-disc gap-2">User account creation and management</li>
            <li class="flex list-disc gap-2">Order management and tracking</li>
            <li class="flex list-disc gap-2">SEO optimization</li>
            <li class="flex list-disc gap-2">Three rounds of revisions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-heading gap-4">
      <h2 class="section-heading__title text-2xl text-gray-0 md:text-3xl">Zusätzliche Dienstleistungen</h2>
      <p class="section-heading__desc text-lg text-gray-200 md:text-xl">Als Design-Agentur können wir alles tun.</p>
    </div>
    <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
      {% for item in [1,2,3,4,5,6,7,8] %}
      <div class="flex flex-col justify-between gap-6 rounded-2xl bg-gray-100 p-4 text-gray-900 md:gap-7 md:p-5" x-data="{state : false}">
        <div class="flex flex-col gap-3">
          <button class="flex items-center gap-4 md:flex-col md:items-start md:gap-6" x-on:click="state = !state">
            <picture class="block h-12 w-12">
              <img src="{% static './images/services/1.svg' %}" class="h-full w-full" alt="" />
            </picture>
            <span class="text-left text-lg font-semibold md:text-xl">Newsletter-Dienst (Brevo: ex Sendinblue)</span>
            <svg width="20" height="20" class="transition-transform md:hidden" x-bind:class="state ? 'rotate-180' : ''">
              <use xlink:href="./assets/sprite.svg#arrow-d_sprite"></use>
            </svg>
          </button>
          <p class="text-gray-700" x-bind:class="state ? 'max-md:flex' : 'max-md:hidden'">
            Prepared by experienced English teachers, the texts, articles.
          </p>
        </div>
        <div class="flex items-center gap-2">
          <data class="text-xl font-semibold md:text-2xl">€499</data>
          <span class="text-gray-700">zzgl. 19% MwSt</span>
        </div>
      </div>

      {%- endfor %}
    </div>
  </div>
</section>
